<app-header></app-header>
<div class="row descripcion textarea">
  <div class="col">
    <img src="...">
  </div>
  <div class="col-8">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descripcion</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Descripcion"></textarea>
    </div>
  </div>
</div>
<div class="row textarea">
  <div class="col">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Ingredientes</label>
      <textarea class="form-control" id="exampleFormControlTextarea2" rows="7" placeholder="Ingredientes"></textarea>
    </div>
  </div>
</div>
<div class="row textarea">
  <div class="col">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Pasos a seguir</label>
      <textarea class="form-control" id="exampleFormControlTextarea3" rows="12" placeholder="Pasos a seguir"></textarea>
    </div>
  </div>
</div>
<div class="row textarea">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comentarios</label>
      <textarea class="form-control" id="exampleFormControlTextarea4" rows="7" placeholder="Comentarios"></textarea>
    </div>
</div>
<app-footer></app-footer>


