<app-header></app-header>
<div class="row descripcion textarea">
  <div class="col">
    <img src="...">
  </div>
  <div class="col-8">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
    </div>
  </div>
</div>
<div class="row textarea">
  <div class="col">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea2" rows="7"></textarea>
    </div>
  </div>
</div>
<div class="row textarea">
  <div class="col">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea3" rows="12"></textarea>
    </div>
  </div>
</div>
<div class="row textarea">
  <div class="row">
    <p>Comentarios</p>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea4" rows="7"></textarea>
    </div>
  </div>
</div>

