<div class="container-fluid mt-3 pt-2 pb-2">
  <div class="row p-5 pb-2">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="h3">WeFood</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="container ms-5 pe-5">
        <p class="link-dark h5 mb-3">Soporte</p>
        <div class="mb-2">
          <a href="#" class="link-dark text-decoration-none">Contactanos </a>
        </div>
        <div class="mb-2">
          <a href="#" class="link-dark text-decoration-none">FAQ</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" >
      <div class="container">
          <p href="#" class="link-dark h5 mb-3">Quienes somos</p>
        <div class="mb-2">
          <a href="#" class="link-dark text-decoration-none">Sobre WeFood </a>
        </div>
        <div class="mb-2">
          <a href="#" class="link-dark text-decoration-none">Terminos y condiciones</a>
        </div>
        <div class="mb-2">
          <a href="#" class="link-dark text-decoration-none">Politicas de privacidad</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p href="#" class="link-dark h5 mb-3">Contactanos</p>
      <div class="mb-2">
        <a href="#" class="link-dark text-decoration-none">wefood@wefood.cl</a>
      </div>
    </div>
    <div class="col-xs-12 pt-4">
      <p class="link-dark h5 text-center">Copyright - Todos los derechos reservados</p>
    </div>
  </div>
</div>

