html{
  background-color: #efefef;
}

.boton-a{
  color: white;
  background-color: #ff8d04;
}

.btn-sml{
  color: white;
  background-color: #1cbd1c;
  height: 6vh;
  width: 6vh;
}

.boton-receta{
  color: white;
  background-color: #ff8d04;
}

.boton-vermas{
  margin-left: 41%;
  color: white;
  background-color: #1cbd1c;
}

.columna-boton{
  margin-top: 1rem;
  padding-left: 15%;
  padding-right: 15%;
}

.container{
  padding-top:8rem;
}

