@import '../../../environments/variables';


.boton-a{
  color: white;
  background-color: $color-negro;
}

.btn-sml{
  color: $color-negro;
  background-color: $color-blanco;
  height: 6vh;
  width: 6vh;
}

.boton-receta{
  color: $color-blanco;
  background-color: $color-negro;
  border-style: none;
}

.boton-vermas{
  margin-left: 41%;
  color: $color-negro;
  background-color: $color-hueso;
  border-style: none;
}

.columna-boton{
  margin-top: 1rem;
  padding-left: 15%;
  padding-right: 15%;
}

