.separacion{
  padding-top: 1rem;
}

.row-boton{
  padding-left: 15%;
  padding-right: 15%;
}



.boton-receta{
  color: white;
  background-color: #ff8d04;
}

.boton-vermas{
  color: white;
  background-color: #1cbd1c;
}

.columna-boton{
  margin-top: 1rem;
  padding-left: 15%;
  padding-right: 15%;
}

