<div class="container-fluid mb-3 pt-2 pb-2">
  <div class="row">
    <div class="col">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
        <button class="btn bg border-0" routerLink="/inicio">
          <img src="../../assets/imagenes/WeFood_Logo.png" class=". logo" alt="Responsive image">
        </button>
      </div>
    </div>
    <div class="col" >
      <div class="container">
        <label for="typeahead-config" class="col-xs-3 col-sm-auto col-form-label"><button class="btn" routerLink="/inicio">Inicio</button></label>
      </div>
    </div>
    <div class="col d-none d-lg-block">
      <div class="container busqueda">
        <input id="typeahead-config" type="text" class="form-control" placeholder="En que receta estas pensando?"/>
      </div>
    </div>
    <div class="col">
      <div class="container busqueda">
        <button type="button" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="container busqueda">
        <button type="button" class="btn" routerLink="/perfil">
          <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

