<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a href="/inicio" class="navbar-brand mb-0 h1">
      <img src="../../assets/imagenes/WeFood_Logo.png" width="130" height="70" class="d-inline-block align-top ">
    </a>
    <button type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse ms-3" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item active me-5">
           <a href="/inicio" class="nav-link active ">
             <p class="h5 pt-2">
               Inicio
             </p>
           </a>
         </li>
         <li class="nav-item active">
           <a href="/perfil" class="nav-link active">
             <p class="h5 pt-2 ">
               Perfil
             </p>

           </a>
         </li>
       </ul>
     </div>
     <form class="d-flex">
       <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
       <button class="btn btn-outline my-2 my-sm-0 ms-2 boton-buscar shadow" type="submit">Buscar</button>
     </form>
  </div>
</nav>

