
$color-verde: #588157;
$color-negro: #313638;
$color-hueso: #E0DFD5;
$color-blanco: #E8E9EB;

//----
$color-fondo1: #FAF9F6;
$color-verdeoscuro: #3F6B2B;
$color-verdeclaro: #4CBB17;
$color-fondo2: #F9F6EE;
$color-blancopuro: #FFFFFF;
$color-rojo: #ce0404;





