.row-boton{
  padding-top: 1rem;
  padding-left: 15%;
  margin-right: 15%;
}

.row-carta{
  padding-top: 4rem;
}

.carta{
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.separacion{
  padding-top: 1rem;
}

.boton-registrarse{
  color: white;
  background-color: darkgreen;
}
