@import '../../../environments/variables';

.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.boton-registrarse{
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2rem;
  color: $color-blancopuro;
  background-color: $color-verdeclaro;
  border: none;
}

body{
  height: 100vh !important;
  padding-top: 1.5rem;
  background-color: $color-hueso;
  background-image: url(../../../assets/imagenes/WeFood_Wallpaper_Light.png);
  background-size: contain;
}

.registro{
  background-color: $color-blancopuro;
}


