.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.carta{
  margin-top: 4rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.boton-registrarse{
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  background-color: #1cbd1c;
}

.pagina-general{
  background-color: #cdffcd;
  height: 100% !important;
}
.container-fluid{
  height: 100% !important;
}
