<div class="cuerpo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 mb-1 mt-1">
        <button type="button" class="btn border-0" routerLink="/perfil">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
               class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="row">
      <!-- BOTON   -->

      <!-- Publicacion   -->
      <div class="col-sm-12 col-md-6 col-xl-6 col-12 col-lg-6">
        <div class="card  ">
          <div class="card-body">
            <form class="formularioCreacionReceta" [formGroup]="formularioCreacionRecetaForm" (ngSubmit)="publicar()">
              <h2 class="card-title text-center">Nueva receta</h2>
              <div class="form-group">
                <label for="exampleNombreReceta">Nombre de la receta</label>
                <span
                  *ngIf="formularioCreacionRecetaForm.controls['nombreReceta'].invalid && (formularioCreacionRecetaForm.controls['nombreReceta'].dirty || formularioCreacionRecetaForm.controls['nombreReceta'].touched)"
                  class="alert">
                <small class="mensajeError"
                       *ngIf="formularioCreacionRecetaForm.controls['nombreReceta'].errors?.['required']">
                * Ingrese nombre receta.
                </small>
                <small class="mensajeError"
                      *ngIf="formularioCreacionRecetaForm.controls['nombreReceta'].errors?.['pattern']">
                * El nombre debe tener menos de 30 caracteres.
                </small>
                </span>
                <input type="text" id="exampleNombreReceta" class="form-control" formControlName="nombreReceta" aria-describedby="nombreReceta"
                       placeholder="ej: Ensalada de fruta...">
              </div>
              <div class="form-group pt-3">
                <label for="exampleDescripcionReceta">Descripcion de la receta</label>
                <span
                  *ngIf="formularioCreacionRecetaForm.controls['descripcionReceta'].invalid && (formularioCreacionRecetaForm.controls['descripcionReceta'].dirty || formularioCreacionRecetaForm.controls['descripcionReceta'].touched)"
                  class="alert">
                <small class="mensajeError"
                       *ngIf="formularioCreacionRecetaForm.controls['descripcionReceta'].errors?.['required']">
                * Ingrese descripcion de receta.
                </small>
                </span>
                <input type="text" id="exampleDescripcionReceta" class="form-control" formControlName="descripcionReceta" aria-describedby="descReceta"
                       placeholder="ej: Una ensalada con frutas...">
              </div>
              <div class="form-group pt-3">
                <label for="exampleIngredientes">Ingredientes de la receta</label>
                <span
                  *ngIf="formularioCreacionRecetaForm.controls['ingredientes'].invalid && (formularioCreacionRecetaForm.controls['ingredientes'].dirty || formularioCreacionRecetaForm.controls['ingredientes'].touched)"
                  class="alert">
                <small class="mensajeError"
                       *ngIf="formularioCreacionRecetaForm.controls['ingredientes'].errors?.['required']">
                * Ingrese los ingredientes de la receta.
                </small>
                </span>
                <textarea class="form-control" id="exampleIngredientes" formControlName="ingredientes" rows="3"
                          placeholder="ej: Frutos silvestres, duraznos..."></textarea>
              </div>
              <div class="form-group pt-3">
                <label for="examplePasosASeguir">Pasos a seguir de la receta</label>
                <span
                  *ngIf="formularioCreacionRecetaForm.controls['pasosReceta'].invalid && (formularioCreacionRecetaForm.controls['pasosReceta'].dirty || formularioCreacionRecetaForm.controls['pasosReceta'].touched)"
                  class="alert">
                <small class="mensajeError"
                       *ngIf="formularioCreacionRecetaForm.controls['pasosReceta'].errors?.['required']">
                * Ingrese los pasos a seguir de la receta.
                </small>
                </span>
                <textarea class="form-control" id="examplePasosASeguir" rows="3" formControlName="pasosReceta"
                          placeholder="ej: Primero lavamos las frutas, luego las cortamos en rodajas..."></textarea>
              </div>
              <div class="input-group">
                <div class="form-outline">
                  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <div class="row-boton row text-center ">
                <button type="submit" class="botones btn btn-primary mt-3" [disabled]="!formularioCreacionRecetaForm.valid">Publicar</button>
              </div>
            </form>
            <div>
            </div>
          </div>
        </div>
      </div>
      <!--    FOTO-->
      <div class="col">
        <div class="card">
          <img class="imagenReceta card-img-top  center" src="../../../assets/imagenes/choripan.jpg"
               alt="Card image cap">
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <a class="btn btn-primary botones">Cargar imagen</a>
              </div>
              <div class="col text-center">
                <a class="btn btn-primary botones">Eliminar imagen</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








