.card{
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.boton-publicar{
  color: white;
  background-color: orange;
  font-weight: 700;
}

.row-boton{
  padding-top: 1rem;
  padding-left: 30%;
  margin-right: 30%;
}

.pasosASeguir{
  resize: none;
}
h1{
  margin-top: 3rem;
}
.carrusel{
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: lightsalmon;
  border-style: groove;
}

.fotos{
  width: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
