@import '../../../environments/variables';

textarea{
  resize: none;
}
.imagenReceta{
  padding: 2rem 2rem 2rem 2rem;
}

.botones{
  border:none;
  color: $color-hueso;
  background-color: $color-negro;
}
.cuerpo{
  height: 100vh !important;
  padding-top: 1.5rem;
  background-image: url(../../../assets/imagenes/WeFood_Wallpaper_Light.png);
  background-size: contain;
}

.mensajeError{
  color: red;
}

.example-chip-list {
  width: 100%;
}
