<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <form action="">
          <h2 class="text-center">Nueva receta</h2>
          <div class="form-group">
            <label for="exampleNombreReceta">Nombre de la receta</label>
            <input type="text" class="form-control"  aria-describedby="nombreReceta" placeholder="ej: Ensalada de fruta...">
          </div>
          <div class="form-group pt-3">
            <label for="exampleDescripcionReceta">Descripcion de la receta</label>
            <input type="text" class="form-control"  aria-describedby="descReceta" placeholder="ej: Una ensalada con frutas...">
          </div>
          <div class="form-group pt-3">
            <label for="exampleIngredientes">Ingredientes de la receta</label>
            <textarea class="form-control" id="exampleIngredientes" rows="3" placeholder="ej: Frutos silvestres, duraznos..."></textarea>
          </div>
          <div class="form-group pt-3">
            <label for="examplePasosASeguir">Pasos a seguir de la receta</label>
            <textarea class="form-control" id="examplePasosASeguir" rows="3" placeholder="ej: Primero lavamos las frutas, luego las cortamos en rodajas..."></textarea>
          </div>
          <div class="row-boton row text-center ">
            <button type="submit" class="boton-publicar btn btn-primary">Publicar</button>
          </div>
        </form>

      </div>

    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row pt-3">
          <img src="../../assets/imagenes/choripan.jpg" class="imagen" alt="Responsive image">
        </div>
        <div class="row pt-3">
          <div class="col ms-3">
            <div class="row-boton row text-center">
              <button type="submit" class="boton-cargar btn btn-primary">Cargar imagen</button>
            </div>
          </div>
          <div class="col ms-3 me-3">
            <div class="row-boton row text-center">
              <button type="submit" class="boton-eliminar btn btn-primary">Eliminar imagen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
