@import '../../../environments/variables';


.botoncito{
  padding-left:10%;
  padding-right: 10%;
}

.btn{
  background-color: $color-negro;
  border: none;
}
.bg{
  background-image: url("../../../assets/imagenes/banner-inicio.jpg");
  background-position: center center;
  background-size: cover;
  height: 30rem;
  width: 100%;
}


