@import '../../../environments/variables';


.botoncito{
  padding-left:10%;
  padding-right: 10%;
}

.container{
  margin-right:-5rem
}
.btn{
  background-color: $color-negro;
}
.bg{
  background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_25/1581912/ribeye-salad-today-061920-tease.jpg');
  background-size: cover;
}
