<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-4" *ngFor="let receta of recetas; index as i ">
      <div class="container-fluid">
        <div class="card p-3 mt-5 ms-5 m">
          <div class="card-body">
            <img [src]= receta.imagenes[0] class="card-img-top" alt="...">
            <h5 class="card-title">{{receta.nombreReceta}}</h5>
            <p class="card-text">{{receta.descripcionReceta}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

