@import '../../../environments/variables';


.botoncito{
  padding-left:10%;
  padding-right: 10%;
}

.btn{
  background-color: $color-negro;
  border: none;
}
.bg{
  background-image: url("../../../assets/imagenes/banner-inicio.jpg");
  background-position: center center;
  background-size: cover;
  height: 30rem;
  width: 100%;
}

.img-size{
  width: 20rem;
  height: 12rem;
}

.tresPuntos {
  display: block;
  white-space: nowrap;
  width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
}



