@import '../../../environments/variables';
.vistaAdmin{
  background-color: $color-blancopuro;
}
.botonIngresar{
  background-color: $color-negro;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: #ebeded;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  border-radius: 4px;
  padding: 0.75em 0.75em 0 0.75em;
  //border: 1px solid lightgray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1; /* Firefox */
}
