body{
  background-color: rgb(255, 230, 217);
}

.bg{
  background-position: center center;
  background-image: url("../../../assets/imagenes/fruits.jpg");
  background-size: cover;
}

.login{
 background-color: aliceblue;
}

.boton-inicioSesion{
  background-color: #ff8d04;
}

