.loginFormulario{
  padding-top: 10rem;
  padding-left:20rem;
  padding-right: 20rem;
}

.fotito{
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}


.iniciar-sesion{
  margin-top: 1rem;
  font-weight: 600;
  width: 50%;
  color: #ffffff;
  background-color: #ff8d04;
  border: none;
  border-radius: 1.5rem;
  padding:2%;
}



