<p>login</p>
<div class="row">
  <div class="col hola">
    <img src="https://static6.depositphotos.com/1001503/609/i/450/depositphotos_6092650-stock-photo-healthy-food-background-orange.jpg" class="hola orangesimage-login" >
  </div>
</div>

<div class="formulario">
  <div class="row">
    <h1>Te estamos esperando!.</h1>
  </div>
  <div class="row">
    <p>Crea o inicia sesion en WeFood.</p>
  </div>
  <form>
    <div class="input-container">
      <div class="row">
        <label>Nombre de usuario </label>
      </div>
      <div class="row">
        <input id="d-basic" type="text" class="form-control"  />
      </div>
    </div>
    <div class="input-container">
      <div class="row">
        <label>Password </label>
      </div>
      <div class="row">
        <input type="password" name="pass" required />
      </div>
    </div>
    <div class="button-enviar">
      <input type="submit" value="Iniciar sesion"/>
    </div>
  </form>
</div>

