@import '../../../environments/variables';
body{
  padding-top:1.5rem;
  background-color: $color-hueso;
}

.bg{
  background-position: center center;
  background-image: url("../../../assets/imagenes/fruits.jpg");
  background-size: cover;
}

.login{
 background-color: aliceblue;
}

.boton-inicioSesion{
  background-color: $color-negro;
}

