<div class="cuerpo-login">
  <div class="container w-75 rounded shadow rounded shadow">
    <div class="pagina-general row align-items-stretch">
      <div class="col login p-5 rounded-end">
        <div class="text-center">
          <img src="../../assets/imagenes/WeFood_Logo_Edit.png" alt="Wefood logo" class="img-fluid " >
        </div>
        <h2 class="fw-bold text-center py-5">
          Inicia sesión en WeFood
        </h2>
        <form class="formularioLogin" [formGroup]="formularioLoginForm" (ngSubmit)="iniciarSesion()">
          <div class="mb-4">
            <label class="form-label">Nombre de usuario </label>
            <span *ngIf="formularioLoginForm.controls['userName'].invalid && (formularioLoginForm.controls['userName'].dirty || formularioLoginForm.controls['userName'].touched)" class="alert">
              <small class="mensajeError" *ngIf="formularioLoginForm.controls['userName'].errors?.['required']">
                * Ingrese su nombre de usuario.
              </small>
              <small class="mensajeError" *ngIf="formularioLoginForm.controls['userName'].errors?.['pattern']">
                * Superó el máximo de 20 carácteres.
              </small>
            </span>
            <input type="text" class="form-control" placeholder="Nombre de usuario" formControlName="userName"/>
          </div>
          <div class="mb-4">
            <label class="form-label">Contraseña </label>
            <span *ngIf="formularioLoginForm.controls['password'].invalid && (formularioLoginForm.controls['password'].dirty || formularioLoginForm.controls['password'].touched)" class="alert">
              <small class="mensajeError" *ngIf="formularioLoginForm.controls['password'].errors?.['required']">
                * Ingrese su contraseña.
              </small>
              <small class="mensajeError" *ngIf="formularioLoginForm.controls['password'].errors?.['pattern']">
                * Debe tener mas de 5 caracteres.
              </small>
            </span>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"/>
          </div>
          <div class="mb-4 form-check">
            <input type="checkbox" name="connected" class="form-check-input"/>
            <label name="connected" class="form-check-label">Mantener sesión iniciada </label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary boton-inicioSesion" [disabled]="!formularioLoginForm.valid">Iniciar Sesión</button>
          </div>
          <div class="my-3">
            <span>¿Eres nuevo en WeFood? <a href="#" routerLink="/creacion-usuario">Regístrate</a></span>
          </div>
        </form>
      </div>
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
      </div>
    </div>
  </div>
</div>

