.fotito{
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.iniciar-sesion{
  font-weight: 600;
  width: 50%;
  color: #ffffff;
  background-color: #ff8d04;
  border: none;
  border-radius: 1rem;
}

.pagina-general{
  background-color: rgba(245, 179, 65, 0.63);
  height: 100% !important;
}


